<%- include('../_layout/adminHeader.ejs') %>
    
<div class="container">
    <h2 class="page-title display-4">Add a product</h2><br>
<a href="/admin/product" class="btn btn-primary" style="border-radius: 0; font-family: 'Roboto Slab', serif;"  ">Back to all products</a>
<br><br>

<form method="post" action="/admin/product/add-product" enctype = "multipart/form-data">
    
    
    <label style = "font-family: 'Roboto Slab', serif;">Title</label>
    <input type="text" class="form-control" style="border-radius: 0;"  name="title" value="<%= title %>" placeholder="Title">
    <br>   

        
    <label  style="font-family: 'Roboto Slab', serif;">Description</label>
    <textarea name="desc" class="form-control" id="ta"  style="border-radius: 0;" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    <br>

    <label  style = "font-family: 'Roboto Slab', serif;">Category</label>
    <select style = "border-radius: 0;" class="form-control" name="category">

        <% categories.forEach(function(cat){ %>
            <option value="<%= cat.slug %>"> <%= cat.title %> </option>
        <% }); %>

    </select>
    <br>       
        
    <label for="" style="border-radius: 0; font-family: 'Roboto Slab', serif;">Price</label>
    <input type="text" class="form-control" style="border-radius: 0; font-family: 'Roboto Slab', serif;" name="price" value="<%= price %>" placeholder="Price">    
    <br>

    <label for="" style="font-family: 'Roboto Slab', serif;">Image</label>
    <input type="file" class="form-control" name="image" id="img" style="border-radius: 0; font-family: 'Roboto Slab', serif;">    
    <br>
     
    
    <button style = "font-family: 'Roboto Slab', serif;" class="btn btn-info"  style="border-radius: 0;" >Submit</button>
    </form>





</div>

<%- include('../_layout/adminfooter.ejs') %>