<% include _layout/header %>

<div class="row">
    <h2 class="page-header" style="font-family: 'Ubuntu', sans-serif;"><%= p.title %></h2><br>

    <div class="col-md-7">
        <img class="spi" src = "/product_images/<%= p.id %>/<%= p.image %>" height="250px" width="250px" alt = "">
        <br>
    </div>
    <div class="col-md-5">
        <span style="font-family: 'Ubuntu', sans-serif; font-size: 20px"> <%= p.desc %> </span><br>
        <p  style="font-family: 'Ubuntu', sans-serif; font-size: 20px">$<%= parseFloat(p.price).toFixed(2) %></p>
        <p><a href="/cart/add/<%= p.slug %>"  style="font-family: 'Ubuntu', sans-serif; font-size: 20px">Add to cart</a></p>
    </div>
</div>

<% include _layout/footer %>